.clients-header-button {
  background-color: #dcd;
  margin: 5px 0;
  padding: 10px 40px;
  border-radius: 0;
}

.clients-header-button:hover {
  cursor: auto;
  background-color: #dcd;
}

.client-delete-button,
.client-update-button {
  text-decoration: none;
  color: #333333;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin-right: 0;
  border-radius: 8px;
  transition-duration: 0.2s;
}

.client-delete-button:hover {
  background-color: #f91b4f;
  color: #fff;
  cursor: pointer;
}


.client-update-button:hover {
  background-color: #f7a218;
  color: #fff;
  cursor: pointer;
}

.dialog {
  transition-duration: 0.2s;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  border: 2px solid #009150;
  border-radius: 10px;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #ffffff;
  padding: 10px;
}

.some-text {
  margin: 10px;
  font-size: 25px;
  color: #333333;
}

.dialog-button {
  padding: 10px;
  font-size: 20px;
  color: #fff;
  background-color: #009150;
  border: 0;
  border-radius: 5px;
  text-decoration: none;
  width: 320px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
  transition-duration: 0.2s;
}

.dialog-button:hover {
  background-color: #00703e;
  cursor: pointer;
}

.client-input {
  font-size: 20px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #ffffff;
  color: #333333;
  width: 320px;
  border: 2px solid #009150;
  border-radius: 5px;
}

#confirm-delete-client-button:hover {
  background-color: #d1243e;
  color: #ffffff;
}