* {
    font-family: "Montserrat";
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

.main{;
    width: 100%;
}

.main-table{
}

.table{
    margin-right: auto;
    margin-left: auto;
}