.supply-container {
    width: auto;
}

.book-input-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: auto;
}

.book-input {
    flex-grow: 3;
    border-radius: 5px;
    border: 2px solid #009150;
    width: 16%;
}

.supply-input {
    font-size: 15px;
    padding: 10px;
    color: #333333;
    /*border: 0;*/
    margin-top: 20px;
    /*margin-bottom: 20px;*/
}

.some-text {
    color: #333333;
    font-size: 25px;
    margin-top: 20px;
}

.supply-detail-input {
    width: 20vw;
    border: 2px solid #009150;
    border-radius: 5px;
    /*border: 0;*/
    /*border-right: 1px solid #333333;*/
    /*border-top: 1px solid #333333;*/
    /*border-bottom: 1px solid #333333;*/
}

#amount-input {
    border-radius: 5px;
    border: 2px solid #009150;
    width: 70px;
}

.new-supply-button{
    border: 0;
    margin-top: 20px;
    width: 20vw;
    padding: 10px;
    border-radius: 5px;
    background-color: #009150;
    font-size: 15px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.2s;
}

.bottom-supply-buttons{
    margin-top: 20px    ;
    display: flex;
    flex-direction: column;
    transition-duration: 0.2s;
}

.new-supply-button:hover{
    background-color: #00703e;
    cursor: pointer;
}

.add-delete-book-buttons{
    display: flex;
    flex-direction: row;
}

.add-book-button{
    margin-right: 20px;
}