.user-container {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.user-input {
    font-size: 15px;
    padding: 10px;
    color: #333333;
    border: 0;
    border-radius: 30px;
    margin-top: 20px;
    width: 20vw;
    opacity: 0.75;
}

.some-text {
    color: #fff;
    font-size: 25px;
    margin-top: 20px;
}

.new-user-button {
    margin-top: 20px;
    width: 20vw;
    padding: 10px;
    border: 0;
    background-color: fff;
    border-radius: 30px;
    font-size: 15px;
    color: #555;
    transition-duration: 0.2s;
}

.bottom-user-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.new-user-button:hover {
    background-color: #ede;
    cursor: pointer;
}