.sales-header-button {
    background-color: #dcd;
    margin: 5px 0;
    padding: 10px 40px;
    border-radius: 0;
  }
  
  .sales-header-button:hover {
    cursor: auto;
    background-color: #dcd;
  }