.sql-header-button {
    background-color: #dcd;
    margin: 5px 0;
    padding: 10px 40px;
    border-radius: 0;
  }
  
  .sql-header-button:hover {
    cursor: auto;
    background-color: #dcd;
  }

.sql-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;

}

.sql-textarea {
    width: 100%;
    background-color: white;
    opacity: 0.75;
    border: 0;
    font-size: 20px;
    border-radius: 25px;
    padding: 20px;
    outline: none;
    resize: vertical;
    color: #333;
    font-weight: 600;
}

.send-sql-command {
    width: 100%;
    color: #555;
    background-color: #fff;
    border: 0;
    border-radius: 30px;
    font-size: 20px;
    padding: 20px;
    font-weight: 600;
}

.send-sql-command:hover {
    background-color: #ede;
    cursor: pointer;
}

.sql-output:hover{
    cursor: default;
}

.table{
    margin-top: 30px;
}