.sql-header-button {
    border-left: 5px solid #009150;
    background-color: #13191b;
   
}

.sql-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;

}

.sql-textarea {
    width: 100%;
    background-color: white;
    border: 2px solid #009150;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    resize: vertical;
    color: #333;
    font-weight: 600;
}

.send-sql-command {
    width: 100%;
    color: #fff;
    background-color: #009150;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    padding: 20px;
    font-weight: 600;
}

.send-sql-command:hover {
    background-color: #00703e;
    cursor: pointer;
}

.sql-output:hover{
    cursor: default;
}

.table{
    margin-top: 30px;
}