
<div class="main-table" th:fragment="list">
    <table class="table">
        <thead>
        <tr>
            <th style="width: 10%">id</th>
            <th style="width: 30%">Книги</th>
            <th style="width: 30%">Дата поставки</th>
            <th style="width: 30%">Поставщик</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="supply : ${supplies}" class="table-row">
            <td style="text-align: center">
                <div class="supply-id" th:text="${supply.supplyId}">
                </div>
            </td>
            <td style="text-align: center" th:text="${supply.getSupplyBooks()}">
                <div class="supply-books">
                </div>
            </td>
            <td style="text-align: center">
                <div class="supply-date" th:text="${supply.getDateInNormalFormat()}">
                </div>
            </td>
            <td style="text-align: center" th:text="${supply.supplier.supplierName}">
                <div class="supplier-name">
                </div>
            </td>

        </tr>
        </tbody>
    </table>
</div>
